[Unit]
Description=Fondbot in Elixir
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/fondbot-ex
Environment=RELEASE_MUTABLE_DIR=/opt/fondbot-ex/var
Environment=LANG=en_US.UTF-8
Environment=MIX_ENV=prod
ExecStart=/opt/fondbot-ex/fondbot-ex/bin/fondbot_ex foreground
Restart=on-failure
RestartSec=5
RemainAfterExit=no

[Install]
WantedBy=multi-user.target

