use Mix.Config

config :manager, updater: :webhook
config :manager, :webhook,
  port: 9786,
  url: {:system, "WEBHOOK_URL"}

config :sentry,
  dsn: "https://public_key@app.getsentry.com/1",
  environment_name: :prod,
  included_environments: [:prod],
  enable_source_code_context: true,
  root_source_code_path: File.cwd!(),
  tags: %{
    env: "production"
  }